
li:hover {
  cursor: pointer;
  font-family: "Orbitron";
}

#tile_1{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_1:hover {
  cursor: pointer;
}

#tile_2{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_2:hover {
  cursor: pointer;
}

#tile_3{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_3:hover {
  cursor: pointer;
}

#tile_4{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_4:hover {
  cursor: pointer;
}

#tile_5{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_5:hover {
  cursor: pointer;
}

#tile_6{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_6:hover {
  cursor: pointer;
}
#tile_7{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_7:hover {
  cursor: pointer;
}
#tile_8{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}

#tile_8:hover {
  cursor: pointer;
}
#tile_9{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_9:hover {
  cursor: pointer;
}
#tile_10{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_10:hover {
  cursor: pointer;
}
#tile_11{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_11:hover {
  cursor: pointer;
}
#tile_12{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_12:hover {
  cursor: pointer;
}
#tile_13{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}

#tile_13:hover {
  cursor: pointer;
}
#tile_14{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_14:hover {
  cursor: pointer;
}
#tile_15{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_15:hover {
  cursor: pointer;
}
#tile_16{
  height: 100px;
  width: 100px;
  border-radius: 0px;
  border-color: grey;
  border-width: 4px;
  background: url(tile_image.jpg);
  background-size: contain;
  font-size: 30px;
  font-weight: bold;
  color: greenyellow;
}
#tile_16:hover {
  cursor: pointer;
}

#game_canvas {
  border-radius: 15px;
}

#result{
  height: 50px;
  color: white;
  font-family:
   "Orbitron";
}

#result_img_victory{
  height: 150px;
  width: 150px;
  color: white;
  font-family: "Orbitron";
}
#result_img_lose{
  height: 150px;
  width: 150px;
  color: white;
  font-family: "Orbitron";
}

#start_game {
  height: 50px;
  width: 150px;
  border-radius: 0px;
  background-color: whitesmoke;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
  font-family: "Orbitron";
}

#tester_button {
  height: 50px;
  width: 150px;
  border-radius: 0px;
  background-color: whitesmoke;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
  font-family: "Orbitron";
}


#stop_game{
  height: 50px;
  width: 150px;
  border-radius: 0px;
  background-color: whitesmoke;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
  font-family: "Orbitron";
}


#back_home {
  height: 50px;
  width: 150px;
  border-radius: 0px;
  background-color: whitesmoke;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
  font-family: "Orbitron";
}

#result_h1 {
  height: 50px;
  width: 150px;
  border-radius: 0px;
  background-color: whitesmoke;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
  font-family: "Orbitron";
  font-size: 69px;

}

#game_restart {
  height: 50px;
  width: 150px;
  border-radius: 0px;
  background-color: whitesmoke;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
  font-family: "Orbitron";
}

#game_won{
  border-radius: 0px;
  background-color: whitesmoke;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
  font-family: "Orbitron";
  font-weight: bold;
  font-size: large;
}

#game_lost {
  border-radius: 0px;
  background-color: whitesmoke;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
  font-family: "Orbitron";
  font-weight: bold;
  font-size: large;
}

#game_played{
  border-radius: 0px;
  background-color: whitesmoke;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
  font-family: "Orbitron";
  font-weight: bold;
  font-size: large;
}

#game_winstreak{
  border-radius: 0px;
  background-color: whitesmoke;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
  font-family: "Orbitron";
  font-weight: bold;
  font-size: large;
}